{% extends "base.html" %}

{% block title %} About {% endblock %}
{% block header %} About {% endblock %}

{% block content %}
	<div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">
    <h1>Website by Arthur Wang</h1>

    <p class="lead">Created with Python/Django/Heroku/Twitter Bootstrap/HTML/JS/CSS</p>
    <p>
    LinkedIn Profile: <a href="http://www.linkedin.com/in/warthurw">
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Arthur Wang's profile on LinkedIn">
    </a></p>

    <p>
    Source code for this project: <a href="https://github.com/senzaflash">Github</a>
  </p>
  <p>
    <a href="mailto:arthur.wang.ny@gmail.com">arthur.wang.ny@gmail.com</a>
  </p>
  </div>
</div>
</div>
{% endblock %}