{% extends "base.html" %}

{% block title %} More or Less {% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="container-fluid">
		<h1 style="text-align: center">
				Voluble Texts
		</h1>
		<div class="row-fluid">
			<div class="span5 offset1">
				<input type="hidden" name="text_id" value={{text_id}}>
				<h2> Source </h2>
				<div class="btn-group">
					<a class = "btn {% if not request.GET.t %} disabled {% endif %}" href="/add"> Add New Source</a>
                	<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">Choose a Source Text <span class="caret"></span></button>
                	<ul class="dropdown-menu">
                		{% for text in texts %}
                		<li><a href="/add/?t={{text.id}}">

                			{% if text.title %}
                				{{text.title}} 
                			{% else %}
                				Untitled Text
                			{% endif %}
                			{% if text.author %}
                				by {{text.author}}
                			{% endif %}
                		</a></li>
                		{% endfor %}
                	</ul>

                </div><!-- /btn-group -->

                <!-- user is using an existing text-->
                {% if request.GET.t %}
                	{% if title %}
               		<label>
						<div>Title</div> 
						<input type="text" name="title" value="{{title}}" readonly>
					</label>

					{% endif %}
					{% if author %}
					<label>
						<div> Author </div> 
						<input type="text" name="author" value="{{author}}" readonly>
					</label>
					{% endif %}
					
					<label>
						<div>Text</div>
						<textarea name="content" readonly>{{content}}</textarea>
					</label>

                {% else %}
                <label>
					<div>Title (optional)</div> 
					<input type="text" name="title" value="{{title}}">
				</label>

				<label>
					<div>Author (optional)</div> 
					<input type="text" name="author" value="{{author}}">
				</label>
				<label>
						<div>Enter a text (paste at least 500 characters)</div>
					<textarea name="content">{{content}}</textarea>
				</label>
				{% endif %}
				

				{% if error %}<div class="alert alert-error"> {{error}}</div>{% endif %}

				<button type="submit" class="btn btn-inverse" name="generate">
					<i class="icon-random icon-white"></i> Generate
				</button>
			</div>
			<div class="span5">
				{% if quote %}
				<label>
					<h2>Extract</h2>
					<textarea name="quote">{{quote}}</textarea>
				</label>
				<input type="submit" class="btn btn-inverse" name = "save" value = "Save">
				{% endif %}
			</div>
		</div>
	</div>
</form>
{% endblock %}