{% extends "base.html" %}


{% block title %} 
	{{text.title}}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid" id="permalink">
        	<div class="span5 offset1">
        		<h1> 
					{{text.title}} 
				</h1>
				<h4>
					{{text.author}}
				</h4>
				<a href = "/add?t={{text.id}}"> Generate more texts based on this source</a><br><br>
				<!--<form action="/add" method = "get">
					<button href="/?t=2">test</button>
				</form>-->
				<div class="fulltext">
					{{text.content|linebreaks}}
				</div>
        	</div>

			<div class="span5">
                <h1>Quotes</h1>
               	<div class="fullquotes">
                	{% for quote in quotes %}
						<div class="permaquote">
							{{quote.quote|linebreaks}}
						</div>
					{% endfor %}
				</div>
           </div>
	    </div>
	</div>

{% endblock %}