{% extends "quotes.html"%}

{% block title %} 
	{% if username %}
		{{username}}
	{% else %} Urtexts
	{% endif %}
{% endblock %}


{% block header %}
	{% if username and quotes %}
		{{username}}'s texts
	{% elif quotes %}
		These are <em>ur</em>texts 
	{% elif username %}
		{{username}} has created nothing.
	{% else %}
		You've created nothing.
	{% endif %}
{% endblock %}

{% block quotes %}
	{% if quotes %}
		{{block.super}}
	{% elif username %}
	{% else %}
		<p class="lead">Begin <a href="/add">adding</a> texts.</p>
	{% endif %}
{% endblock %}